<!DOCTYPE html>
<html>

<head>
  <title>Beta Rate Calculator</title>

  <link rel="stylesheet" href="assets/css/rate-ui.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <META NAME='author' content='Ashok Kumar'>
  <META NAME='title' content='M.S Printing & Packaging Co (Box Manufacturer)'>
  <META NAME='keywords' content='Box Manufacturer sonipat Haryana delhi corrugated Carton best packaging'>
  <META NAME='description' content="We create strong and beautiful boxes for your products">
  <META NAME='language' content='English'>
  <META charset='utf-8'>
  <META NAME="ROBOTS" CONTENT="NOINDEX , NOFOLLOW">
  <META name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

  <div class="box" id="box">
    <div class="box-body">
      <h2 class="box-title">Rate Calculator For Chuk-De</h2>

      <div class="label"> Length (mm)</div>
      <input type="length" name="length"  v-model="length">
      <div class="label"> Width (mm)</div>
      <input type="width" name="width" v-model="width">
      <div class="label"> Height (mm)</div>
      <input type="height" name="height" v-model="height">
    </div>
    <div class="box-result">
      Surface Area: <b>{{ 2 * (width * length) + 2 * (width * height) + 2 * (length * height)}} mm<sup>2</sup> | {{ Number([2 * (width * length) + 2 * (width * height) + 2 * (length * height) ] / 645.16).toFixed(2)}} inch<sup>2</sup></b>  <br><br>
      Rate for 3 ply: <b>₹{{ Number(( ([ (2 * (width * length)) + (2 * (width * height)) + (2 * (length * height)) ] / 645.16) * (4.45 /100 ) )) }} per box</b> <br>
      Rate for 5 ply: <b>₹{{ Number(( ([ (2 * (width * length)) + (2 * (width * height)) + (2 * (length * height)) ] / 645.16) * (6)/100 )) }} per box</b>
    </div>

  </div>


</body>
<script src="assets/javascript/rate.js"></script>

</html>
