.top{
	position:fixed;
	top:0%;
	min-width:1000px;
	width:100%;
	height:90px;
}

.logo img{height:72px;
}

.logo{margin-top:10px;
	  margin-left:30px;
	  float:left;
}

.company_name{
			  float:left;
			  line-height:90px;
			  margin-left:15px;
			  font-size:22px;
			  font-family:rock;
			  color:#828257;
}

.menu{
	  width:400px;
	  float:right;
	  margin-right:60px;
	  height:40px;
	  line-height:40px;
	  margin-top:25px;
}

.menu ul{list-style:none;
		 padding:0px;
		 margin:0px;
}

.menu li{float:left;
		 padding-left:15px;
		 padding-right:15px;
		 text-align:center;
		 cursor:pointer;
		 margin-left:15px;
		 font-family:roboto_m;
		 border-bottom:3px solid transparent;
		 border-radius:0px;
		 color:#7371FC;
}


.menu li:hover{
	border-bottom-color:#38023B;
	color:#38023B;
}

.menu li.selected{
	border-bottom-color:#38023B;
	color:#38023B;}

.welcome_heading{text-align:center;
				 margin-top:50px;
				 font-size:32px;
				 font-weight:bold;
				 color:#000;
				 letter-spacing:1.4px;
}


.welcome_passage{text-align:center;
					font-size:18px;
					font-style:italic;
					color: #828257;
					width:640px;
					margin:0px auto;
					margin-top:50px;
					letter-spacing:0.2px;
}

.features_section{height:140px;
	      margin-top:100px;
	     color:#fff;
	     padding-top:10px;

}

.features_section_center{width:1000px;
						 height:130px;
						 margin:0px auto;
						 border-radius:5px;

	     background-color:#43d;
	     background-color: #7371FC;
}


.feature_box{width:120px;
			 height:130px;
			 border-radius:3px;
			 float:left;
			 margin-left:56px;
}

.feature_box:first-child{margin-left:0px;}

.feature_img{
	width:50px;
	margin:0px auto;
}

.feature_img img{width:50px;
				 margin-top:20px;
}

.feature_name{text-align:center;
			  font-size:14px;
			  margin-top:10px;
			  font-family:Quicksand; 
}


.hide{display:none;}


.section_heading{width:800px;
				 height:30px;
				 font-size:28px;
				 color: #000;
				 font-weight:bold;
				 margin:0px auto;
				 margin-top:30px;
				 letter-spacing:1.4px;
}

.section_passage{width:700px;
				 margin:0px auto;
				 margin-top:25px;
				 font-size:16px;
				 letter-spacing:1px;
}
