.top{
	position:fixed;
	top:0%;
	width:100%;
	height:90px;
	background-color:#ffffff;
	border-bottom:1px solid #ffffff;
}

.logo img{height:72px;
}

.logo{margin-top:10px;
	  margin-left:30px;
	  float:left;
}

.company_name{
			  float:left;
			  line-height:90px;
			  margin-left:15px;
			  font-size:22px;
			  font-family:rock;
			  color:#828257;
}

.menu{
	  width:300px;
	  float:right;
	  margin-right:60px;
	  height:40px;
	  line-height:40px;
	  margin-top:25px;
}

.menu ul{list-style:none;
		 padding:0px;
		 margin:0px;
}

.menu li{float:left;
		 padding-left:15px;
		 padding-right:15px;
		 text-align:center;
		 cursor:pointer;
		 margin-left:15px;
		 font-family:roboto_m;
		 border-bottom:3px solid transparent;
		 border-radius:0px;
		 color:#828257;
}

.menu li:hover{
	border-bottom-color:#000;
	color:#000;
}

.welcome_heading{text-align:center;
				 margin-top:30px;
				 font-size:32px;
				 font-weight:bold;
}


.welcome_subheading{text-align:center;
					margin-top:20px;
					font-size:20px;

}